<header class="flex-row">
  <h1>Data Bridge</h1>
  <i class="bi bi-clipboard2-plus-fill open-modal"></i>
</header>

<!-- Estilos del header -->
<style>
  header {
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px var(--clr-border);
    color: var(--clr-white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    gap: 10px;
  }

  header .bi {
    font-size: 2.3rem;
    color: var(--clr-main);
    cursor: pointer;
    margin-left: 20px;
    transition: var(--transition);
  }

  @media (hover: hover) {
    header .bi:hover {
      color: var(--clr-white);
    }
  }
</style>

<script>
  //@ts-nocheck

  const $openAddCityModal = document.querySelector(".open-modal");
  const $modalOverlay = document.querySelector(".modal-overlay");
  const $duplasContainer = document.getElementById("duplas-container");

  $openAddCityModal?.addEventListener("click", () => {
    $modalOverlay.style.display = "flex";

    if ($duplasContainer && $duplasContainer.children.length === 0) {
      window.dispatchEvent(new CustomEvent("initializeDuplas"));
    }
  });
</script>
